body{
    background-image: url(../img/istockphoto-1251213542-612x612.jpg);/*para poner una imagen*/
    background-repeat: no-repeat;
    background-size: cover;
    
}
#logo{
    height: 170px;
    display: block;
    margin: 0 auto;
}
q{
    color: chocolate;
}

   


#navlisa{
    color: gold;

}
.A{
    background-color: rgba(57, 215, 65, 0.635);
    width: 50%;
    display: flex;
    flex-flow : row-reverse nowrap;
    justify-content : space-around;
    padding : 7em;
    padding-top: 2em;
    padding-bottom :2em;
   
    margin-top: 180px;
    color: aliceblue;
}
#navmarge{
    color: gold;
}
#marge{
    background-color: #2374b795;
}
#navhomer{
    color: gold;
}
#homer{
    background-color: #41b7b3a7;
}
#navbart{
    color: gold;
}
#bart{
    background-color: rgba(227, 149, 33, 0.642);
}
#navmaggie{
    color: gold;
}
#maggie{
    background-color: rgba(255, 127, 80, 0.733)
}
footer{
    margin:0;
    padding:3em;
    text-align: center;
    column-count : 3;
    display: flex;
    justify-content: space-around;
}
footer p{
    width : 30%
}
main{
    display : flex; 
    flex-flow:row wrap;
    justify-content: center;
}
.multiple{
    margin-top: 160px; /*pour baisse les textes*/
}
.multiple2{
    margin-top: 200px;
}
.multiple3{
    margin-top: 130px;


}

.menu{
    width: 100px;
    height: 30px;
    transition: 4s;
}
@media all and (max-device-width: 481px){
    main{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
       display: flex;
      column-count: 3;
    }
    .A{
        flex-direction: column-reverse;
       
    }
    .multiple{
        margin-top: 0px;
    }
    .multiple2{
        margin-top: 0px;
    }
    .multiple3{
        margin-top: 0px;
    
    }
    footer{
        display: flex;
        flex-direction: column;   
        justify-content: center;
    }

    
    
}

.red {
    color: red;
}

.accordeon {
    border: 1px solid rgba(146, 146, 146, 0.3);
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    color: white;
}

.titre {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px rgba(146, 146, 146, 0.3);
    color: black;
}

.contenu {
    padding: 0 20px;
    height: 0;
    visibility: hidden
}

#fleche {
    width: 50px;
    height: 50px;
}

.titre img {
    width: 200px;
    height: 120px;
    transition: 0,2s;
}
.titre{
    color: rgb(143, 138, 138);
}

.accordeon.open .titre img {
    transform-origin: center;
    transform: rotate(90deg);
}

.contenu {
    padding: 0 20px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0,4s;
    color: rgb(143, 138, 138);
}

.accordeon.open .contenu {
    padding: 30px 20px;
    height: auto;
    visibility: visible;
}

.diva{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    letter-spacing: 1px;
    padding-left: 3vw;
    width: 50%;
   
}
.diva a{
    text-decoration: none;
}

/*DARKMODE*/
.darkmode{
    background-color: black;
}
body.darkmode{
    color: rgb(255, 255, 255);
    background-image: none;
    
}
.darkmode{
    color: rgb(255, 255, 255);
    background-image: none;
    
}




/*sharemycode.fr/g5k    mas flexbox */ 
