body{
    background-image: url(istockphoto-1251213542-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


#logo{
    height: 170px;
    display: block;
    margin: 0 auto;
}
#unique1{
    background-color: #ffffff;
    width: 10%;
    height: 20%;
    display: flex;
    flex-flow : row wrap;
    min-height: 10vh;
    justify-content: center;
    margin: 0;
    padding : 5em;
    padding-top: 2em;
    padding-bottom :1em; 
}
#unique2{
    background-color: rgba(255, 127, 80, 0.68);
    color: #ffffff;
    width: 30%;
    height: 500%;
    display: flex;
    flex-flow: wrap;
    min-height: 50vh;
    justify-content: center;
    margin: 0;
    padding : 5em;
    padding-top: 2em;
    padding-bottom :1em; 
    
}
#unique3{
    background-color:  rgba(255, 127, 80, 0.68);
    color: #ffffff;
    width: 30%;
    height: 500%;
    display: flex;
    flex-flow: wrap;
    min-height: 50vh;
    justify-content: center;
    margin: 0;
    padding : 5em;
    padding-top: 2em;
    padding-bottom :1em; 
}
.textes{
    display: flex;
    justify-content: center;
    font-size: medium;
    height: 60%;
    margin-top: 140px;
}

footer{
    margin:0 color gold;
    padding:3em;
    text-align: center;
    column-count : 3;
    display: flex;
    justify-content: space-around;
}
footer p{
    width : 30%
}

main{
    text-align: center;
    display: flex;
}
@media all and (max-device-width: 481px){
    main{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    
    footer{
        display: flex;
        flex-direction: column;   
        justify-content: center;
    }
    .textes{
        
        flex-direction: column;
        justify-content: center;
        font-size: medium;
        height: 60%;
        margin-top: 140px;
    }
    
    
}